authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = piligrim.local
DNS.2 = localhost
DNS.3 = 192.168.100.4
IP.1 = 192.168.100.4
IP.2 = 127.0.0.1